<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
     <title>REGISTRATION</title>
     <style>
     body{
       padding-left: 10%;
       padding-right: 14%;
       }
      #line {
       width: 150px;
       height: 15px;
       float: right;
       }
       fieldset {
         width: 340px;
         border: ridge 2px darkgreen;
         line-height: 1.8em;
       }
     </style>
  </head>
  <body>
     <center>
    <h1>REGISTRATION</h1>    
     <fieldset>
     <table >
      <form action="/save" method="post" accept-charset="utf-8">
      <tr>
      <td>Paste a login:</td>
      <td><input type="text" name="login" value="" id="line"></td>
      </tr>
      <tr>
      <td>Paste a name:</td>     
      <td><input type="text" name="name" value="" id="line"></td>
      </tr>
      <tr>
      <td>Paste a email:</td>
      <td><input type="text" name="email" value="" id="line"></td.
      </tr>
      <tr>
      <td>Paste a position:</td>
      <td><input type="text" name="position" value="" id="line"></td>      
      </tr>
      <tr>
      <td>Paste a password:</td>
      <td><input type="password" name="password" value="" id="line"></td>
      </tr>
      <tr>
      <td>Confirm your password:</td>
      <td><input type="password" name="apassword" value="" id="line"></td>
      </tr>
      <tr><td></td>
      <td><input type="submit" value="registration"></td>
      </tr>
      </table>
    </form>


   <form action="/" method="get" accept-charset="utf-8">
     <input type="submit" value="Came back">
   </form>
   </fieldset>
   </center>
  </body>
</html>
